.wrapper {
  width: 100%;
  background-color: var(--primary-5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  box-sizing: border-box;
  width: 100%;
  max-width: 980px;
  margin-top: -48px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-6);
  border-radius: 24px;
  background-image: url(../../static/images/hand.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  font-family: Amira;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 24px 0;
}

.countdown-box {
  width: 120px;
  height: 100px;
  background-color: var(--primary-1);
  color: black;
  margin: 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
}

.legend {
  color: black;
  font-size: 1.4rem;
}

.btn {
  width: 200px;
  height: 40px;
  margin: 24px 0;
  border-radius: 99999px;
  border: none;
  background-color: var(--primary-1);
  color: black;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .icon {
    margin-right: 12px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
    text-align: center;
  }

  .box {
    background-size: contain;
    background-position: bottom;
  }
}
