.wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 32px;
  background-color: var(--primary-5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.title {
  font-size: 3rem;
  line-height: 0;
  color: var(--primary-1);
  font-family: Amira;
}

.description {
  font-size: 1.4rem;
  text-align: center;
}

.infomation {
  max-width: 1024px;
  width: 100%;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  flex: 1 1;
}

@media (max-width: 768px) {
  .infomation {
    flex-direction: column;

    .info {
      margin-bottom: 100px;
    }
  }
}
