@import "normalize.css";

@font-face {
  font-family: Amira;
  src: url(./static/Fz-Amira.ttf);
}

@font-face {
  font-family: Quick;
  src: url(./static/Fz-Quick-Signature.ttf);
}
@font-face {
  font-family: Moritza;
  src: url(./static/FzTheMoritza.ttf);
}

:root {
  --background-color: #7c9578;
  --primary-6: #8e0202;
  --primary-5: #ffffff;
  --primary-4: #a2af9f;

  --primary-3: #e4e4e4;
  --primary-2: #a3a1a2;
  --primary-1: #d6a251;

  --text-color: #333;
  --font-family: "Fira Code", Monaco, Consolas, "Ubuntu Mono", monospace;
  --font-family-1: "Courier New", Courier, monospace;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--background-color);
}

body {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow: overlay;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
